<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 名称空间;指定为接口的全类名
id 唯一标识符；设置接口的方法名
resultType 返回值类型-->

<mapper namespace="cn.blogs.taobao01.dao.MaterialSellerMapper">
  <select id="getMatSellerById" resultType="cn.blogs.taobao01.entity.MaterialSeller">
    select * from material_seller where id = #{id}
  </select>

  <select id="getMatSellerBySellerId" resultType="cn.blogs.taobao01.entity.MaterialSeller">
    select * from material_seller where seller_id = #{sellerId}
  </select>


  <insert id="addMatSeller" parameterType="cn.blogs.taobao01.entity.MaterialSeller" useGeneratedKeys="true" keyProperty="id">
    insert ignore into material_seller (user_type,nick,seller_id,shop_dsr,shop_title)
    values (#{userType},#{nick},#{sellerId},#{shopDsr},#{shopTitle})
  </insert>

<!--
  &lt;!&ndash;
    public void updateEmp(Employee employee);
    &ndash;&gt;
  <update id="updateEmp">
    update tbl_employee
    set last_name = #{last_name},gender=#{gender},email = #{email}
    where id = #{id}
  </update>

  &lt;!&ndash;  public void deleteEmpById(Integer id);&ndash;&gt;
  <delete id="deleteEmpById">
    delete from tbl_employee where id = #{id}
  </delete>-->

</mapper>
