<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 名称空间;指定为接口的全类名
id 唯一标识符；设置接口的方法名
resultType 返回值类型-->

<mapper namespace="cn.blogs.taobao01.dao.MaterialMktMapper">
  <select id="getMatMktById" resultType="cn.blogs.taobao01.entity.MaterialMkt">
    select * from material_mkt where id = #{id}
  </select>

  <select id="getMatMktByItemId" resultType="cn.blogs.taobao01.entity.MaterialMkt">
    select * from material_mkt where item_id = #{itemId}
  </select>

  <insert id="addMatMkt" parameterType="cn.blogs.taobao01.entity.MaterialMkt" useGeneratedKeys="true" keyProperty="id">
    insert ignore into material_mkt (item_id,include_dxjh,info_dxjh,include_mkt,presale_deposit,
    presale_end_time,presale_start_time,presale_tail_end_time,presale_tail_start_time)
    values (#{itemId},#{includeDxjh},#{infoDxjh},#{includeMkt},#{presaleDeposit},#{presaleEndTime},#{presaleStartTime},#{presaleTailEndTime},#{presaleTailStartTime})
  </insert>
  <!--  public void addEmp(Employee employee);
        useGeneratedKeys 获取自增主键
        keyproperty 指定对应主键属性
    -->
<!--
  &lt;!&ndash;
    public void updateEmp(Employee employee);
    &ndash;&gt;
  <update id="updateEmp">
    update tbl_employee
    set last_name = #{last_name},gender=#{gender},email = #{email}
    where id = #{id}
  </update>

  &lt;!&ndash;  public void deleteEmpById(Integer id);&ndash;&gt;
  <delete id="deleteEmpById">
    delete from tbl_employee where id = #{id}
  </delete>-->

</mapper>
